<!DOCTYPE html>
<html>
<head>
  <title>Zenkai</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
